<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A modern blogging site.">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">VOIDBlog</div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}"><i class="fas fa-home icon"></i> Home</a></li>
                <li><a href="{{ url_for('write') }}"><i class="fas fa-pen icon"></i> Write a Blog</a></li>
                <li><a href="{{ url_for('about') }}"><i class="fas fa-info-circle icon"></i> About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        Abhishek Shah | 2024
    </footer>
</body>
</html>
