<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A modern blogging site.">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='icons/logo6.png') }}" alt="VOIDBlog Logo">
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}"><i class="fas fa-home icon"></i> Home</a></li>
                <li><a href="{{ url_for('write') }}"><i class="fas fa-pen icon"></i> Write a Blog</a></li>
                <li><a href="{{ url_for('about') }}"><i class="fas fa-info-circle icon"></i> About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <ul class="contact-info">
            <li>
                <a href="mailto:www.abhishekshah007@gmail.com">
                    <img src="{{ url_for('static', filename='icons/email.png') }}" alt="Email" class="contact-icon">
                    www.abhishekshah007@gmail.com
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/abhiverse01/" target="_blank">
                    <img src="{{ url_for('static', filename='icons/linkedin.png') }}" alt="LinkedIn" class="contact-icon">
                    LinkedIn: Abhiverse01
                </a>
            </li>
            <li>
                <a href="https://www.github.com/abhiverse01" target="_blank">
                    <img src="{{ url_for('static', filename='icons/github.png') }}" alt="GitHub" class="contact-icon">
                    GitHub: Abhiverse01
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <img src="{{ url_for('static', filename='icons/facebook.png') }}" alt="Facebook" class="contact-icon">
                    Follow on Facebook
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <img src="{{ url_for('static', filename='icons/instagram.png') }}" alt="Instagram" class="contact-icon">
                    Follow on Instagram
                </a>
            </li>
        </ul>
        <p>Abhishek Shah | 2024</p>
    </footer>
</body>
</html>
